<div class="col-lg-8 mx-auto">
  <div class="row row-cards">
    <div class="col-12">
      <form class="card">
        <div class="card-header">
          <h3>New Post</h3>
        </div>
        <div class="card-body">
          <div class="row row-cards">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label"></label>
                <input type="text" class="form-control" placeholder="Title">
              </div>
            </div>
            <div class="col-md-5">
              <div class="mb-3">
                <label class="form-label">Category</label>
                <select class="form-control form-select">
                  <option value="">Germany</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3 mb-0">
                <label class="form-label">Body</label>
                <textarea rows="5" class="form-control" placeholder="Writing ..."></textarea>
              </div>
            </div>
            <div class="col-md-3">
              <label class="row">
                <span class="col">Post is Draft?</span>
                <span class="col-auto">
                  <label class="form-check form-check-single form-switch">
                    <input class="form-check-input" type="checkbox" checked>
                  </label>
                </span>
              </label>
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
